h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
}
#recipe img {
    max-width: 500px;
}


@media screen {
    .inlineform {
        display:inline-block;
    }
    #searchtext {
        vertical-align: top;
        width:290px; 
        height:23px; 
        margin:0px;
        text-indent:10px; 
        color:#333; 
        background: #fff; 
        border: 1px solid #6E4A26; 
        border-radius: 2px; 
        border-right:none;
    }
    #searchbutton {
        width:40px; 
        margin:0px;
        background-image: url("magnifying_glass.svg");
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: 10px center;
    }

    .button {
        vertical-align: top;
        height: 27px; 
        font-size:1.0em; 
        border: 1px solid #6E4A26; 
        background: #996633; 
        border-radius: 2px; 
        color: white;
    }
    .button:hover {
        background: #6E4A26; 
    }

    #searchbar ul {
        list-style: none;
    }

    #searchbar li {
        display: inline-block;
        margin-right: 10px; /* add spacing between items */
    }

    #resultlist {
        float: left;
        width: 200px;
        height: 600px;
        overflow: scroll;
        padding-left: 5px;
        padding-right: 5px;
    }
    #resultlist ol {
        list-style: none;
        padding-left: 0;
    }
    #resultlist li {
        margin: 0 0 .3em 0;
    }
    #recipe {
        margin-left: 220px;
        border-left: 1px solid #41332b;
        padding: 10px;
        min-height: 500px;
    }
    body {
        background-image: url("food3.png");
        background-repeat: repeat;
    }
    #container {
        width: 800px;
        margin: 0 auto;
        /*min-height: 600px;*/
        
        padding: 5px;
        background: #fffcf1;
        color: #000000;
    }
    #container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
    #topbar {
        background: #41332b;
        color: #fffcf1;
        margin: 0px;
        height: 50px;
    }
    #logo {
        padding-left: 10px;
        padding: 5px;
        font-size: 2em;
        float: left;
    }

    #searchform {
        display: flex;
    }

    #searchbar {
        background: #e0a975;
        color: #342828;
        margin: 0px;
        padding: 10px;
        clear: both;
        font-size: 80%;
    }
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
    .selected {
        background: #FFFF00;
    }
    .unselected {}
    .hashtag {
        border-radius: 8px;
        padding-left: 8px;
        padding-right: 8px;
        background: #fcd33d;
    }
}
@media print {
    #topbar, #searchbar, #resultlist, .hidden {
        visibility: hidden;
        display: none;
    }
    .visible * {
        visibility: visible;
        display: block;
    }
}
