h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
}
.source {
    font-style: italic;
}
@media screen {
    .inlineform {
        display:inline-block;
    }
    #searchtext {
        width:290px; 
        height:23px; 
        margin:0px;
        text-indent:10px; 
        color:#333; 
        background: #fff; 
        border: 1px solid #6E4A26; 
        border-radius: 2px; 
        border-right:none;
    }
    #searchbutton {
        width:40px; 
    }

    .button {
        height: 27px; 
        font-size:1.0em; 
        border: 1px solid #6E4A26; 
        background: #996633; 
        border-radius: 2px; 
        color: white;
    }
    .button:hover {
        background: #6E4A26; 
    }

    .spacebutton {
        margin-left: 65px;
        width:70px; 
    }
    .nospacebutton {
        margin-left: 5px;
        width:70px; 
    }

    .add-entry {
        font-size: 0.9em;
        border-bottom: 1px solid #ccc;
    }
    .add-entry dl {
        font-weight: bold;
    }
    .flash {
        background: #cee5F5;
        padding: 0.5em;
        border: 1px solid #aacbe2;
    }
    .error {
        background: #f0d6d6;
        padding: 0.5em;
    }
    #resultlist {
        float: left;
        width: 200px;
        height: 600px;
        overflow: scroll;
        padding-left: 5px;
        padding-right: 5px;
    }
    #resultlist ul {
        list-style: none;
        padding-left: 0;
    }
    #resultlist li {
        margin: 0 0 .3em 0;
    }
    #recipe {
        margin-left: 220px;
        border-left: 1px solid #41332b;
        padding: 10px;
        min-height: 500px;
    }
    body {
        background-image: url("food3.png");
        background-repeat: repeat;
    }
    #container {
        width: 800px;
        margin: 0 auto;
        /*min-height: 600px;*/
        
        padding: 5px;
        background: #fffcf1;
        color: #000000;
    }
    #container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
    #topbar {
        background: #41332b;
        color: #fffcf1;
        margin: 0px;
        height: 50px;
    }
    #logo {
        padding-left: 10px;
        padding: 5px;
        font-size: 2em;
        float: left;
    }
    #logininfo {
        padding: 10px;
        text-align: right;
        font-size: 80%;
    }
    #logininfo a {
        color: #fffcf1;
    }
    .login_form ul {
        width: 750px;
        list-style-type: none;
        list-style-position: outside;
        margin: 0px;
        padding: 0px;
    }
    .login_form li {
        padding: 12px;
        position: relative;
    }
    .login_form label {
        width: 100px;
        margin-top: 3px;
        display: inline-block;
        float: left;
        padding: 3px;
    }
    .login_form input {
        height: 20px;
        width: 250px;
        padding: 5px 8px;
    }
    .login_form button {
        margin-left: 106px;
    }

    #searchbar {
        background: #e0a975;
        color: #342828;
        margin: 0px;
        padding: 10px;
        clear: both;
        font-size: 80%;
    }
    .flashes {
        background: #99CC99;
        border: 1px solid #009900;
        padding: 10px;
        margin: 10px;
        border-radius: 3px;
    }
    .flashmsg {
        float: left;
        line-height: 1;
    }
    .flashclose {
        float: right;
        line-height: 1;
    }
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
    .selected {
        background: #FFFF00;
    }
    .unselected {}
    .add_form ul, .edit_form ul {
        width: 750px;
        list-style-type: none;
        list-style-position: outside;
        margin: 0px;
        padding: 0px;
    }
    .add_form li, .edit_form li {
        padding: 12px;
        position: relative;
    }
    .add_form label, .edit_form label {
        width: 100px;
        margin-top: 3px;
        display: inline-block;
        float: left;
        padding: 3px;
    }
    .add_form input, edit_form input {
        height: 20px;
        width: 250px;
        padding: 5px 8px;
    }
    .add_form textarea, edit_form textarea {
        padding: 8px;
        width: 400px;
    }
    .add_form button, .edit_form button {
        margin-left: 106px;
    }
}
@media print {
    #topbar, #searchbar, #resultlist, .hidden {
        visibility: hidden;
        display: none;
    }
    .visible * {
        visibility: visible;
        display: block;
    }
}
